@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
  @apply z-10 sticky top-0 flex justify-between items-center p-2 px-6 md:p-2 text-white md:backdrop-blur-lg
}

.graphContainer {
  @apply grid grid-cols-1 md:grid-cols-5 gap-4 pt-5 md:py-10 px-5 md:px-14
}

.graphBox {
  @apply grayscale hover:grayscale-0 brightness-75 hover:brightness-100 bg-zinc-900 hover:bg-zinc-800 inter-body-sm duration-500 p-2 md:p-4 rounded-xl;
}

.menuBlock {
  @apply inter-body-base
}

.graphTitle {
  @apply text-white inter-h5 font-thin uppercase pl-1
}
.graphSubtitle {
  @apply text-white inter-body-sm font-thin uppercase pl-2
}


@keyframes fadeInOut {
  0% {
    opacity: 1;
  }

  33% {
    opacity: 1;
  }

  66% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.fade-text {
  animation: fadeInOut 2.5s forwards ease-out;
  position: fixed;
  /* Ensure the animation container is fixed */
  top: 0;
  /* Align the top edge */
  left: 0;
  /* Align the left edge */
  right: 0;
  /* Align the right edge */
  bottom: 0;
  /* Align the bottom edge */
  display: flex;
  /* Use Flexbox to center the text */
  justify-content: center;
  /* Center horizontally */
  align-items: center;
  /* Center vertically */
  z-index: 1000;
  /* Ensure it appears above other content */
}